<!DOCTYPE html>
<html>
  <head>
    <%- include head %>
    <title><%= title %></title>

  </head>
  <body>
    <div style="max-width:350px;margin:0 auto;">
      <h1>login</h1>
      <form class="" action="/login" method="post">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">&nbsp;账&nbsp;号&nbsp;</span>
          <input type="email" name="email" value="<%= email %>" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        </div><i style="color:red;"><%= user %></i>
        <h4></h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">&nbsp;密&nbsp;码&nbsp;</span>
          <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
        </div><i style="color:red;"><%= err %></i>
        <h4></h4>


        <button type="submit" class="btn btn-info">login</button>
        <a href="/register" style="color:white;"><button type="button" class="btn btn-info">register</button></a>


      </form>
    </div>
  </body>
</html>
